# English Score

Просмотр фильмов на оригинальном языке - это популярный и действенный метод прокачаться при изучении иностранных языков. Важно выбрать фильм, который подходит студенту по уровню сложности, т.ч. студент понимал 50 - 70 % диалогов. Чтобы выполнить это условие, преподаватель должен посмотреть фильм и решить, какому уровню он соответствует. Однако это требует больших временных затрат.

#### Задача проекта:

Разработать ML решение для автоматического определения уровня сложности англоязычных фильмов.

#### Вводные данные:
1. Файл excel с указанием фильма и разметкой уровня языковой сложности.
2. Субтитры к указанным в файле Excel.
3. Папки с субтитрами, распределенные по разным уровням сложности.

## 1. Загрузка данных

Для начала загрузим все необходимые библиотеки и имеющиеся данные, на основании которых дулее будет происходить обучение модели.

pip install pysrt

pip install pymorphy2

pip uninstall nltk

pip install -U nltk

In [1]:
import pandas as pd
from pathlib import Path
import pysrt
import codecs
from sklearn.utils import shuffle
import nltk
import numpy as np
from nltk.stem.porter import *
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier, Pool, cv
from sklearn import metrics
import re
from pymorphy2 import MorphAnalyzer
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\yulia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

- Загрузка excel с уровнями к каждому фильму

Загрузим файл `movies_labels.xlsx` и посмотрим на его содержимое.

In [2]:
df_xlsx = pd.read_excel('movies_labels.xlsx')
df_xlsx

      id                             Movie   Level
0      0         10_Cloverfield_lane(2016)      B1
1      1  10_things_I_hate_about_you(1999)      B1
2      2              A_knights_tale(2001)      B2
3      3              A_star_is_born(2018)      B2
4      4                     Aladdin(1992)  A2/A2+
..   ...                               ...     ...
236  236                     Matilda(2022)      C1
237  237                      Bullet train      B1
238  238            Thor: love and thunder      B2
239  239                         Lightyear      B2
240  240                        The Grinch      B1

[241 rows x 3 columns]

Данный файл содержит в себе название фильма и уровень сложности языка к нему. Поскльку файлы с субтитрами содержат в наименовании названия фильмов, мы сможем по дынной информации соотнести каждому субтитру уровень из файла excel.

Поскольку одному фильму может быть присвоено сразу несколько уровней сложности, выберем для дальнейшего обучения самый первый указанный уровень сложности.

In [3]:
df_xlsx['Level'] = df_xlsx['Level'].str[0:2]
df_xlsx

      id                             Movie Level
0      0         10_Cloverfield_lane(2016)    B1
1      1  10_things_I_hate_about_you(1999)    B1
2      2              A_knights_tale(2001)    B2
3      3              A_star_is_born(2018)    B2
4      4                     Aladdin(1992)    A2
..   ...                               ...   ...
236  236                     Matilda(2022)    C1
237  237                      Bullet train    B1
238  238            Thor: love and thunder    B2
239  239                         Lightyear    B2
240  240                        The Grinch    B1

[241 rows x 3 columns]

- Загрузка списка .srt файлов к файлу excel

Загрузим файлы с субтитрами для фильмов из файла excel. Для этого сначала переберем полные пути к этим файлам.

In [4]:
p = Path("C:/Users/yulia/OneDrive/Документы/С рабочего стола/Проекты/Workshop_2/English_scores/Subtitles_all/Subtitles")
list_str = []

for x in p.rglob("*"):
    list_str.append(str(x))
df_srt = pd.DataFrame(list_str, columns = ['Path'])
df_srt

                                                  Path
0    C:\Users\yulia\OneDrive\Документы\С рабочего с...
1    C:\Users\yulia\OneDrive\Документы\С рабочего с...
2    C:\Users\yulia\OneDrive\Документы\С рабочего с...
3    C:\Users\yulia\OneDrive\Документы\С рабочего с...
4    C:\Users\yulia\OneDrive\Документы\С рабочего с...
..                                                 ...
111  C:\Users\yulia\OneDrive\Документы\С рабочего с...
112  C:\Users\yulia\OneDrive\Документы\С рабочего с...
113  C:\Users\yulia\OneDrive\Документы\С рабочего с...
114  C:\Users\yulia\OneDrive\Документы\С рабочего с...
115  C:\Users\yulia\OneDrive\Документы\С рабочего с...

[116 rows x 1 columns]

Добавим колонку `Movie` и обработаем в нее названия фильмов из папки с субтитрами, чтобы далее по ней можно было подтянуть для каждого субтитра уровень из первой таблицы.

In [5]:
def add_column_movie(value):
    val = value['Path']
    val = val.replace('C:\\Users\\yulia\\OneDrive\\Документы\\С рабочего стола\\Проекты\\Workshop_2\\English_scores\\Subtitles_all\\Subtitles\\', '')     
    val = val.replace('.srt', '')     
    return val

df_srt['Movie'] = df_srt.apply(add_column_movie, axis=1)
df_srt

,Path,Movie
0,C:\Users\yulia\OneDrive\Документы\С рабочего с...,.DS_Store
1,C:\Users\yulia\OneDrive\Документы\С рабочего с...,10_Cloverfield_lane(2016)
2,C:\Users\yulia\OneDrive\Документы\С рабочего с...,10_things_I_hate_about_you(1999)
3,C:\Users\yulia\OneDrive\Документы\С рабочего с...,Aladdin(1992)
4,C:\Users\yulia\OneDrive\Документы\С рабочего с...,All_dogs_go_to_heaven(1989)
...,...,...
111,C:\Users\yulia\OneDrive\Документы\С рабочего с...,Warm_bodies(2013)
112,C:\Users\yulia\OneDrive\Документы\С рабочего с...,Westworld_scenes_of_Dr_Robert_Ford
113,C:\Users\yulia\OneDrive\Документы\С рабочего с...,We_are_the_Millers(2013)
114,C:\Users\yulia\OneDrive\Документы\С рабочего с...,While_You_Were_Sleeping(1995)
115,C:\Users\yulia\OneDrive\Документы\С рабочего с...,Zootopia(2016)

- Добавление в список excel директорий их субтитов

Получим единую таблицу, содержащую информацию об уровне фильма и местоположнии субтитра.

In [6]:
df_fin = df_xlsx.merge(df_srt, left_on='Movie', right_on='Movie')
df_fin

,id,Movie,Level,Path
0,0,10_Cloverfield_lane(2016),B1,C:\Users\yulia\OneDrive\Документы\С рабочего с...
1,1,10_things_I_hate_about_you(1999),B1,C:\Users\yulia\OneDrive\Документы\С рабочего с...
2,2,A_knights_tale(2001),B2,C:\Users\yulia\OneDrive\Документы\С рабочего с...
3,3,A_star_is_born(2018),B2,C:\Users\yulia\OneDrive\Документы\С рабочего с...
4,4,Aladdin(1992),A2,C:\Users\yulia\OneDrive\Документы\С рабочего с...
...,...,...,...,...
105,107,Venom(2018),B2,C:\Users\yulia\OneDrive\Документы\С рабочего с...
106,108,Warm_bodies(2013),B1,C:\Users\yulia\OneDrive\Документы\С рабочего с...
107,109,We_are_the_Millers(2013),B1,C:\Users\yulia\OneDrive\Документы\С рабочего с...
108,110,While_You_Were_Sleeping(1995),B1,C:\Users\yulia\OneDrive\Документы\С рабочего с...
109,111,Zootopia(2016),B2,C:\Users\yulia\OneDrive\Документы\С рабочего с...

Теперь мы можем произвести непосредственную загрузу содержимого файлов с субтритрами по их полному пути хранения. Для перебора всей таблицы сделаем отдельную функцию.

Поскольку далее нам понадобятся только колонки `Srt` с субтитрами и `Level` с уровнем английского, выберем только их. Выведем получившийся результат на экран.

In [7]:
def add_column_srt(value):
    file = str(value['Path'].replace('\\', '/'))
    text = ''    
    subs = pysrt.open(file, encoding='iso-8859-1')
    srt = ''
    for sub in subs:
        srt = srt + ' ' + sub.text
     
    return srt.replace('\n', ' ')

df_fin['Srt'] = df_fin.apply(add_column_srt, axis=1)
df_fin = df_fin[['Srt','Level']]
df_fin

                                                   Srt Level
0     <font color="#ffff80"><b>Fixed & Synced by bo...    B1
1     Hey! I'll be right with you. So, Cameron. Her...    B1
2     Resync: Xenzai[NEF] RETAIL Should we help him...    B2
3     - <i><font color="#ffffff"> Synced and correc...    B2
4     <i>Oh, I come from a land From a faraway plac...    A2
..                                                 ...   ...
105   <i>Life Foundation Control, this is LF1.</i> ...    B2
106   <i>What am I doing</i> <i>with my life?</i> <...    B1
107   <i>Oh, my God...</i> <i>...it's full-on doubl...    B1
108   LUCY: <i>Okay, there are two things that</i> ...    B1
109   Fear. Treachery Bloodlust. Thousands of years...    B2

[110 rows x 2 columns]

- Загрузка субтитров из папок по уровням английского языка

Поскольку у нас также имеются папки по уровням английского языка, содержащие субтитры, загрузим их в отдельную таблицу с аналогичной структурой.

In [8]:
def add_column_level(value):
    val = value['Path'].split('\\')
    return val[10]

In [9]:
list_str = []
level_list = ['A2', 'B1', 'B2', 'C1']

for level in level_list:
    p = Path("C:/Users/yulia/OneDrive/Документы/С рабочего стола/Проекты/Workshop_2/English_scores/Subtitles_all"+"/"+level)
    for x in p.rglob("*"):
        list_str.append(str(x))
        
df_add = pd.DataFrame(list_str, columns = ['Path'])

df_add['Srt'] = df_add.apply(add_column_srt, axis=1)
df_add['Level'] = df_add.apply(add_column_level, axis=1)
df_add = df_add[['Srt', 'Level']]
df_add

                                                   Srt Level
0     ( bugs chittering ) ( brakes squeak ) - ( eng...    A2
1     - ( birds chirping ) - ( bugs chittering ) Bo...    A2
2     ( thunder rumbling ) Merle: That's right. You...    A2
3     ( birds chirping ) - What? - Nothing. It's no...    A2
4     - ( walkie-talkie squawks ) - Rick: Morgan, I...    A2
..                                                 ...   ...
158   I lost Ava her company. I assume my deal with...    C1
159   Previously on <i>Suits...</i> It's going up o...    C1
160   I get Ava Hessington acquitted, Darby backs m...    C1
161   Previously on <i>Suits...</i> I'm bonding wit...    C1
162   Previously on <i>Suits...</i> This is a copy ...    C1

[163 rows x 2 columns]

- Соединяем 2 таблицы

Теперь мы можем соединить две таблицы для получения большего пула данных для обучения нашей модели.

In [10]:
df_full = pd.concat([df_fin, df_add])
df_full

                                                   Srt Level
0     <font color="#ffff80"><b>Fixed & Synced by bo...    B1
1     Hey! I'll be right with you. So, Cameron. Her...    B1
2     Resync: Xenzai[NEF] RETAIL Should we help him...    B2
3     - <i><font color="#ffffff"> Synced and correc...    B2
4     <i>Oh, I come from a land From a faraway plac...    A2
..                                                 ...   ...
158   I lost Ava her company. I assume my deal with...    C1
159   Previously on <i>Suits...</i> It's going up o...    C1
160   I get Ava Hessington acquitted, Darby backs m...    C1
161   Previously on <i>Suits...</i> I'm bonding wit...    C1
162   Previously on <i>Suits...</i> This is a copy ...    C1

[273 rows x 2 columns]

Удалим все пустые значения, перемешаем данные и пересчитаем индексы.

Также первоначальные данные содержат следующие уровни английского языка: `A2`, `B1`, `B2`, `C1`. Для удобства классифицируем уровень `A2` как `A1-A2`, а `C1` как `C1-C2`.

In [11]:
def replace_level(value):
    val = value['Level']
    val = val.replace('A2', 'A1-A2')
    val = val.replace('C1', 'C1-C2')
    return val

In [12]:
df = shuffle(df_full[df_full['Srt']!='']).reset_index(drop=True)
df['Level'] = df.apply(replace_level, axis=1)
df

                                                   Srt  Level
0     (CROWD CHEERING) The Break-Up The Break-Up Co...  A1-A2
1     Goddamn bugs. Oh, shit! Oh, crap. Well, Nick ...     B1
2     <b>Resync By<br/>Lututkanan@subscene</b> Do y...     B1
3     Here's something that should hurt your brain....     B1
4     Well, I wake up in the mornin' Each and every...     B1
..                                                 ...    ...
252   Asia - the largest of all the Earth's contine...     B1
253   I hear you're interviewing replacements this ...     B2
254   <i>GUARD: One con under escort. Open gate one...  C1-C2
255   (BUZZING) (BUZZING LOUDLY) VALIENTE: Show me ...     B1
256   200 million years ago, our planet looked very...     B1

[257 rows x 2 columns]

## 2. Подготовка данных к обучению

- Удаление лишних символов

В рамках проведения анализов субтитров были выявлены символы и строки, не несущие в себе смысловой нагрузки и засоряющие данные для обучения модели. Это какие-либо дополнительные сведения о создателе субтитров, веб-сайты, предоставившие субтитры бесплатно, а также технические символы.

После обработки выведем наш датафрейм и посмотрим, как он изменился.

In [13]:
def replace_str(value):
    val = value['Srt']
    val = val.replace('ahmedhamdy90', ' ')
    val = val.replace('subscene.com @ahmedhamdy2121', ' ')
    val = val.replace('https://twitter.com/kaboomskull', ' ')
    val = val.replace('shokomovies.blogspot.com', ' ')
    val = val.replace('UNRATED.720p.BluRay.x264-REFiNED.English Upload to subscene.com by ViSTAâ\x84¢-HDVN', ' ')
    val = val.replace('www.YIFY-TORRENTS.com', ' ')
    val = val.replace('www.ncicap.org', ' ')
    val = val.replace('truecostmovie.com', ' ')
    val = val.replace('Created and Encoded by --  Bokutox -- of  www.YIFY-TORRENTS.com. The Best 720p/1080p/3d movies with the lowest file size on the internet.', ' ')
    val = val.replace('www.facemash.com', ' ')
    val = val.replace('www.OpenSubtitles.org', ' ')
    val = val.replace('www.titlovi.com', ' ')
    val = val.replace('www.AllSubs.org', ' ')
    val = val.replace('www.flixify.app', ' ')
    val = val.replace('truecostmovie.com', ' ')
    val = val.replace('teenybikini.com', ' ')

    val = val.lower()

    val = val.replace('font', ' ')
    val = val.replace('color', ' ')
    val = val.replace('ffff', ' ')
    val = val.replace('<b>', ' ')
    val = val.replace('</b>', ' ')
    val = val.replace('<i>', ' ')
    val = val.replace('</i>', ' ')
    val = val.replace('font color', ' ')
    val = val.replace('</font>', ' ')
    val = val.replace('â\x99ª', ' ')
    val = val.replace('d900d9', ' ')
    val = val.replace('âª', ' ')
    
    return val

df['Srt'] = df.apply(replace_str, axis=1)
df

                                                   Srt  Level
0     (crowd cheering) the break-up the break-up co...  A1-A2
1     goddamn bugs. oh, shit! oh, crap. well, nick ...     B1
2      resync by<br/>lututkanan@subscene  do you ha...     B1
3     here's something that should hurt your brain....     B1
4     well, i wake up in the mornin' each and every...     B1
..                                                 ...    ...
252   asia - the largest of all the earth's contine...     B1
253   i hear you're interviewing replacements this ...     B2
254    guard: one con under escort. open gate one. ...  C1-C2
255   (buzzing) (buzzing loudly) valiente: show me ...     B1
256   200 million years ago, our planet looked very...     B1

[257 rows x 2 columns]

- Лемматизация

Лемматизация – это алгоритмический процесс нахождения леммы слова в зависимости от его значения. Лемматизация обычно относится к морфологическому анализу слов, целью которого является удаление флективных окончаний. Это помогает в возвращении базовой или словарной формы слова, которое известно как лемма. Метод лемматизации NLTK основан на встроенной морф-функции WorldNet. Предварительная обработка текста включает в себя как основы, так и лемматизации.

Проведем лемматизацию для наших субтитров, а также избавимся от лишних символов.

In [14]:
patterns = "[0-9!#$%&'()*+,./:;<=>?@[\]^_`{|}~—\"\-]+"
stopwords_en = stopwords.words("english")
morph = MorphAnalyzer()

def lemmatize(doc):
    doc = re.sub(patterns, ' ', doc)
    tokens = []
    for token in doc.split():
        if token and token not in stopwords_en:
            token = token.strip()
            token = morph.normal_forms(token)[0]
            
            tokens.append(token)
    if len(tokens) > 2:
        return tokens
    return None

df['Srt'] = df['Srt'].apply(lemmatize)
df

                                                   Srt  Level
0    [crowd, cheering, break, break, come, come, co...  A1-A2
1    [goddamn, bugs, oh, shit, oh, crap, well, nick...     B1
2    [resync, br, lututkanan, subscene, idea, br, a...     B1
3    [something, hurt, brain, empty, half, beds, ho...     B1
4    [well, wake, mornin, every, day, sit, table, h...     B1
..                                                 ...    ...
252  [asia, largest, earth, continents, stretches, ...     B1
253  [hear, interviewing, replacements, morning, go...     B2
254  [guard, one, con, escort, open, gate, one, gat...  C1-C2
255  [buzzing, buzzing, loudly, valiente, show, got...     B1
256  [million, years, ago, planet, looked, differen...     B1

[257 rows x 2 columns]

In [15]:
def lem_back(plurals):
    singles = [plural for plural in plurals]
    return (' '.join(singles))

df['Srt'] = df['Srt'].apply(lem_back)
df

                                                   Srt  Level
0    crowd cheering break break come come come righ...  A1-A2
1    goddamn bugs oh shit oh crap well nick dick su...     B1
2    resync br lututkanan subscene idea br arguing ...     B1
3    something hurt brain empty half beds hospitals...     B1
4    well wake mornin every day sit table hear dadd...     B1
..                                                 ...    ...
252  asia largest earth continents stretches equato...     B1
253  hear interviewing replacements morning good gr...     B2
254  guard one con escort open gate one gate opens ...  C1-C2
255  buzzing buzzing loudly valiente show got bones...     B1
256  million years ago planet looked different toda...     B1

[257 rows x 2 columns]

- Оценка релевантности слов с помощью частотно-обратной частоты термина в документе

Теперь переведем получившиеся данные в понятный модели язык - оценим релевантность слов с помощью частотно-обратной частоты термина в документе, используя для этого `TfidfTransformer`.

In [16]:
docs = np.array(df['Srt'])
pipe = Pipeline([('count', CountVectorizer()),
                ('tfid', TfidfTransformer(use_idf=True, norm='l2', smooth_idf=True))]).fit(docs)

In [17]:
tfidf = pd.DataFrame(pipe.transform(docs).toarray())
df_srt = pd.DataFrame(tfidf)
df_srt['Level'] = df['Level']
df_srt

,0,1,2,3,4,5,6,7,8,9,...,33418,33419,33420,33421,33422,33423,33424,33425,33426,Level
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.007707,0.0,0.0,0.0,0.0,0.0,0.0,A1-A2
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1
253,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B2
254,0.007783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,C1-C2
255,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1
256,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,B1

## 3. Обучение модели
Признаком для обучения нашей модели будут преобразованные субтитры, целевой признак - уровни английского языка из колонки `Level`. Разобьем данные на обучающие и тестовые.

In [18]:
X = df_srt.drop(['Level'], axis=1)
y = df_srt['Level']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=12345)

В рамках данного проекта был выбран инструмент `CatBoostClassifier`, который поможет нам решить задачу мультиклассификации.
Для этого поместим признаки в `Pool` для обучения нашей модели.

In [19]:
learn_pool = Pool(
    X_train, 
    y_train
)

test_pool = Pool(
    X_test, 
    y_test
)

- Кросс-валидация и подбор гипер-параметра

Используем кросс-валидацию от CatBoost с `3` бакетами и подберем гиперпараметр `learning_rate` с наиболее высоким показателем среднего `F1` по результатам кросс-валидации.

In [20]:
lr_list = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

for i in lr_list:
    params = {
    'learning_rate': i,
    'iterations': 1000,
    'eval_metric': 'TotalF1',
    'early_stopping_rounds': 200,
    'use_best_model': True,
    'verbose': 100,
    'loss_function': 'MultiClass'
    }
    
    print()
    print()
    print('learning_rate:', i)
    print()
    scores = cv(learn_pool,
                params,
                fold_count=3,
                )
    
    print(scores[scores['test-TotalF1-mean'] == scores['test-TotalF1-mean'].max()])

learning_rate: 0.1

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1.32s	remaining: 22m 3s
100:	learn: 0.9920265	test: 0.4964034	best: 0.4970896 (91)	total: 1m 40s	remaining: 14m 53s
200:	learn: 0.9920265	test: 0.5550661	best: 0.5559157 (161)	total: 3m 15s	remaining: 12m 56s
300:	learn: 0.9920978	test: 0.5550661	best: 0.5559157 (161)	total: 4m 55s	remaining: 11m 26s

bestTest = 0.5559157352
bestIteration = 161

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 1.06s	remaining: 17m 38s
100:	learn: 1.0000000	test: 0.5207888	best: 0.5362592 (95)	total: 1m 44s	remaining: 15m 27s
200:	learn: 1.0000000	test: 0.5596967	best: 0.5732590 (142)	total: 3m 23s	remaining: 13m 30s
300:	learn: 1.0000000	test: 0.5822030	best: 0.6036005 (224)	total: 5m 1s	remaining: 11m 39s
400:	learn: 1.0000000	test: 0.6036005	best: 0.6036005 (224)	total: 6m 42s	remaining: 10m 1s

bestTest = 0.6036005435
bestIteration = 224

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.78s	remaining: 29m 41s
100:	learn: 1.0000000	test: 0.4327608	best: 0.4557926 (72)	total: 1m 40s	remaining: 14m 51s
200:	learn: 1.0000000	test: 0.5231314	best: 0.5231314 (184)	total: 3m 16s	remaining: 13m 1s
300:	learn: 1.0000000	test: 0.5239984	best: 0.5239984 (292)	total: 4m 55s	remaining: 11m 25s
400:	learn: 1.0000000	test: 0.5239984	best: 0.5239984 (292)	total: 6m 31s	remaining: 9m 45s

bestTest = 0.5239984078
bestIteration = 292

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
346         346           0.560888          0.040119            0.997366
347         347           0.560888          0.040119            0.997366
348         348           0.560888          0.040119            0.997366
349         349           0.560888          0.040119            0.997366
350         350           0.560888          0.040119            0.997366
351         351           0.560888          0.040119            0.997366
354         354           0.560888          0.040119            0.997366
355         355           0.560888          0.040119            0.997366
356         356           0.560888          0.040119            0.997366
357         357           0.560888          0.040119            0.997366
358         358           0.560888          0.040119            0.997366

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
346           0.004562              0.940298             0.053119
347           0.004562              0.940975             0.053299
348           0.004562              0.941076             0.053401
349           0.004562              0.941289             0.053137
350           0.004562              0.941767             0.052696
351           0.004562              0.941780             0.052635
354           0.004562              0.940792             0.052527
355           0.004562              0.941050             0.052904
356           0.004562              0.941127             0.054008
357           0.004562              0.941224             0.054157
358           0.004562              0.941192             0.054505

     train-MultiClass-mean  train-MultiClass-std
346               0.037602              0.009143
347               0.037388              0.009141
348               0.037248              0.009213
349               0.037142              0.009258
350               0.037033              0.009285
351               0.036896              0.009294
354               0.036508              0.009281
355               0.036406              0.009295
356               0.036304              0.009291
357               0.036167              0.009247
358               0.036051              0.009250


learning_rate: 0.2

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1.12s	remaining: 18m 40s
100:	learn: 0.9920265	test: 0.5360528	best: 0.5648019 (58)	total: 1m 38s	remaining: 14m 38s
200:	learn: 0.9920265	test: 0.5529450	best: 0.5648019 (58)	total: 3m 22s	remaining: 13m 23s

bestTest = 0.5648018648
bestIteration = 58

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 1.01s	remaining: 16m 48s
100:	learn: 1.0000000	test: 0.5431405	best: 0.5501963 (55)	total: 1m 40s	remaining: 14m 55s
200:	learn: 1.0000000	test: 0.5633929	best: 0.5633929 (167)	total: 3m 16s	remaining: 13m 2s
300:	learn: 1.0000000	test: 0.5512265	best: 0.5633929 (167)	total: 4m 55s	remaining: 11m 25s

bestTest = 0.5633928571
bestIteration = 167

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.06s	remaining: 17m 42s
100:	learn: 1.0000000	test: 0.4814677	best: 0.4925803 (55)	total: 1m 39s	remaining: 14m 42s
200:	learn: 1.0000000	test: 0.4688460	best: 0.4925803 (55)	total: 3m 14s	remaining: 12m 52s

bestTest = 0.4925802918
bestIteration = 55

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
167         167            0.53156          0.046384            0.997366
168         168            0.53156          0.046384            0.997366
169         169            0.53156          0.046384            0.997366
170         170            0.53156          0.046384            0.997366
171         171            0.53156          0.046384            0.997366
172         172            0.53156          0.046384            0.997366
173         173            0.53156          0.046384            0.997366
174         174            0.53156          0.046384            0.997366
175         175            0.53156          0.046384            0.997366
176         176            0.53156          0.046384            0.997366
177         177            0.53156          0.046384            0.997366
179         179            0.53156          0.046384            0.997366
180         180            0.53156          0.046384            0.997366
188         188            0.53156          0.046384            0.997366
189         189            0.53156          0.046384            0.997366
190         190            0.53156          0.046384            0.997366
191         191            0.53156          0.046384            0.997366
192         192            0.53156          0.046384            0.997366

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
167           0.004562              0.944552             0.067165
168           0.004562              0.943927             0.065480
169           0.004562              0.945333             0.067254
170           0.004562              0.945262             0.067613
171           0.004562              0.945731             0.067611
172           0.004562              0.943664             0.070108
173           0.004562              0.943943             0.070484
174           0.004562              0.942626             0.069742
175           0.004562              0.942850             0.069451
176           0.004562              0.942727             0.069356
177           0.004562              0.942975             0.069652
179           0.004562              0.942663             0.069915
180           0.004562              0.943805             0.069127
188           0.004562              0.944236             0.067396
189           0.004562              0.944840             0.067931
190           0.004562              0.944628             0.068006
191           0.004562              0.944374             0.067956
192           0.004562              0.944368             0.068250

     train-MultiClass-mean  train-MultiClass-std
167               0.039562              0.009424
168               0.039252              0.009417
169               0.038911              0.009338
170               0.038680              0.009438
171               0.038431              0.009557
172               0.038091              0.009582
173               0.037794              0.009523
174               0.037577              0.009622
175               0.037252              0.009601
176               0.037018              0.009612
177               0.036817              0.009692
179               0.036368              0.009799
180               0.036179              0.009870
188               0.034392              0.009897
189               0.034202              0.009920
190               0.034059              0.009998
191               0.033848              0.009978
192               0.033637              0.009935


learning_rate: 0.3

Training on fold [0/3]

0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 979ms	remaining: 16m 18s
100:	learn: 0.9920978	test: 0.5413226	best: 0.5413226 (75)	total: 1m 40s	remaining: 14m 54s
200:	learn: 0.9920978	test: 0.5770202	best: 0.5770202 (153)	total: 3m 14s	remaining: 12m 54s
300:	learn: 0.9920265	test: 0.5573517	best: 0.5770202 (153)	total: 4m 53s	remaining: 11m 21s
400:	learn: 0.9920978	test: 0.5573517	best: 0.5848253 (346)	total: 6m 28s	remaining: 9m 40s
500:	learn: 0.9920265	test: 0.5855699	best: 0.5855699 (488)	total: 8m 4s	remaining: 8m 2s
600:	learn: 0.9920265	test: 0.5848253	best: 0.5855699 (488)	total: 9m 43s	remaining: 6m 27s

bestTest = 0.5855698899
bestIteration = 488

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 993ms	remaining: 16m 32s
100:	learn: 1.0000000	test: 0.5816801	best: 0.5816801 (100)	total: 1m 44s	remaining: 15m 32s
200:	learn: 1.0000000	test: 0.6317498	best: 0.6317498 (183)	total: 3m 20s	remaining: 13m 18s
300:	learn: 1.0000000	test: 0.6317498	best: 0.6317498 (183)	total: 4m 57s	remaining: 11m 30s
400:	learn: 1.0000000	test: 0.6578303	best: 0.6578303 (318)	total: 6m 38s	remaining: 9m 55s
500:	learn: 1.0000000	test: 0.6578303	best: 0.6578303 (318)	total: 8m 15s	remaining: 8m 13s

bestTest = 0.6578303063
bestIteration = 318

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.07s	remaining: 17m 53s
100:	learn: 1.0000000	test: 0.4247903	best: 0.5076280 (27)	total: 1m 40s	remaining: 14m 51s
200:	learn: 1.0000000	test: 0.4478317	best: 0.5076280 (27)	total: 3m 22s	remaining: 13m 25s

bestTest = 0.5076279754
bestIteration = 27

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
493         493           0.563744          0.106687            0.997342
494         494           0.563744          0.106687            0.997342
496         496           0.563744          0.106687            0.997342
498         498           0.563744          0.106687            0.997342
499         499           0.563744          0.106687            0.997342
500         500           0.563744          0.106687            0.997342
501         501           0.563744          0.106687            0.997342
502         502           0.563744          0.106687            0.997342
503         503           0.563744          0.106687            0.997342
504         504           0.563744          0.106687            0.997342
505         505           0.563744          0.106687            0.997342
506         506           0.563744          0.106687            0.997342
507         507           0.563744          0.106687            0.997342
508         508           0.563744          0.106687            0.997342
509         509           0.563744          0.106687            0.997342
510         510           0.563744          0.106687            0.997342
511         511           0.563744          0.106687            0.997342
512         512           0.563744          0.106687            0.997342
513         513           0.563744          0.106687            0.997342
514         514           0.563744          0.106687            0.997342
531         531           0.563744          0.106687            0.997342
533         533           0.563744          0.106687            0.997342
534         534           0.563744          0.106687            0.997342
539         539           0.563744          0.106687            0.997342
540         540           0.563744          0.106687            0.997342
541         541           0.563744          0.106687            0.997342
542         542           0.563744          0.106687            0.997342
543         543           0.563744          0.106687            0.997342
544         544           0.563744          0.106687            0.997342
545         545           0.563744          0.106687            0.997342
546         546           0.563744          0.106687            0.997342
561         561           0.563744          0.106687            0.997342

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
493           0.004603              1.021789             0.031026
494           0.004603              1.022035             0.031364
496           0.004603              1.023363             0.032612
498           0.004603              1.023637             0.032987
499           0.004603              1.023597             0.032619
500           0.004603              1.023581             0.032441
501           0.004603              1.023647             0.032603
502           0.004603              1.023620             0.032587
503           0.004603              1.023881             0.032700
504           0.004603              1.023839             0.032589
505           0.004603              1.024043             0.033200
506           0.004603              1.024185             0.033146
507           0.004603              1.023968             0.033098
508           0.004603              1.024005             0.033126
509           0.004603              1.024046             0.032869
510           0.004603              1.023965             0.033055
511           0.004603              1.024074             0.032882
512           0.004603              1.024601             0.033608
513           0.004603              1.024476             0.033678
514           0.004603              1.024498             0.033869
531           0.004603              1.024788             0.034243
533           0.004603              1.024732             0.034148
534           0.004603              1.024833             0.034320
539           0.004603              1.024577             0.033885
540           0.004603              1.024866             0.034375
541           0.004603              1.025002             0.034605
542           0.004603              1.025004             0.034609
543           0.004603              1.024537             0.033818
544           0.004603              1.024439             0.033651
545           0.004603              1.025139             0.034839
546           0.004603              1.025155             0.034865
561           0.004603              1.025566             0.035563

     train-MultiClass-mean  train-MultiClass-std
493               0.012666              0.007512
494               0.012657              0.007509
496               0.012627              0.007495
498               0.012603              0.007481
499               0.012598              0.007484
500               0.012587              0.007479
501               0.012580              0.007481
502               0.012576              0.007484
503               0.012567              0.007483
504               0.012561              0.007484
505               0.012552              0.007477
506               0.012548              0.007478
507               0.012539              0.007478
508               0.012523              0.007473
509               0.012516              0.007476
510               0.012508              0.007475
511               0.012497              0.007468
512               0.012483              0.007460
513               0.012476              0.007457
514               0.012467              0.007454
531               0.012385              0.007373
533               0.012380              0.007365
534               0.012377              0.007361
539               0.012362              0.007339
540               0.012355              0.007330
541               0.012349              0.007321
542               0.012348              0.007320
543               0.012346              0.007317
544               0.012345              0.007316
545               0.012337              0.007304
546               0.012324              0.007285
561               0.012242              0.007169


learning_rate: 0.4

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1s	remaining: 16m 40s

100:	learn: 0.9920978	test: 0.4807296	best: 0.5014436 (98)	total: 1m 41s	remaining: 15m 1s
200:	learn: 0.9920265	test: 0.5035354	best: 0.5058804 (132)	total: 3m 16s	remaining: 13m 1s
300:	learn: 0.9920265	test: 0.5058804	best: 0.5058804 (132)	total: 4m 52s	remaining: 11m 20s

bestTest = 0.5058803635
bestIteration = 132

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 982ms	remaining: 16m 20s
100:	learn: 1.0000000	test: 0.5283283	best: 0.5522978 (61)	total: 1m 41s	remaining: 15m 6s
200:	learn: 1.0000000	test: 0.5964744	best: 0.6303158 (189)	total: 3m 16s	remaining: 13m 2s
300:	learn: 1.0000000	test: 0.5964744	best: 0.6303158 (189)	total: 4m 56s	remaining: 11m 27s

bestTest = 0.6303158471
bestIteration = 189

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.07s	remaining: 17m 49s
100:	learn: 1.0000000	test: 0.5483084	best: 0.5483084 (98)	total: 1m 40s	remaining: 14m 53s
200:	learn: 1.0000000	test: 0.5263930	best: 0.5499004 (104)	total: 3m 18s	remaining: 13m 8s
300:	learn: 1.0000000	test: 0.5263930	best: 0.5499004 (104)	total: 5m 10s	remaining: 12m 2s

bestTest = 0.5499004381
bestIteration = 104

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
159         159           0.555194          0.059127            0.997366

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
159           0.004562              1.056175             0.113796

     train-MultiClass-mean  train-MultiClass-std
159               0.020157              0.009619


learning_rate: 0.5

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1.8s	remaining: 29m 59s
100:	learn: 0.9920265	test: 0.5120662	best: 0.5196502 (31)	total: 1m 51s	remaining: 16m 29s
200:	learn: 0.9920265	test: 0.5848253	best: 0.5848253 (200)	total: 3m 28s	remaining: 13m 50s
300:	learn: 0.9920978	test: 0.5665752	best: 0.5848253 (200)	total: 5m 3s	remaining: 11m 45s
400:	learn: 0.9920978	test: 0.5665752	best: 0.5848253 (200)	total: 6m 42s	remaining: 10m 1s

bestTest = 0.5848252641
bestIteration = 200

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 1.27s	remaining: 21m 6s
100:	learn: 1.0000000	test: 0.5707656	best: 0.5978393 (64)	total: 1m 42s	remaining: 15m 8s
200:	learn: 1.0000000	test: 0.5820786	best: 0.5978393 (64)	total: 3m 18s	remaining: 13m 7s

bestTest = 0.5978392738
bestIteration = 64

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.09s	remaining: 18m 9s
100:	learn: 1.0000000	test: 0.5821151	best: 0.5821151 (47)	total: 1m 48s	remaining: 16m 2s
200:	learn: 1.0000000	test: 0.5580682	best: 0.5821151 (47)	total: 3m 34s	remaining: 14m 13s

bestTest = 0.5821150892
bestIteration = 47

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
167         167           0.578919          0.007687            0.997366

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
167           0.004562              1.038023               0.0791

     train-MultiClass-mean  train-MultiClass-std
167               0.015264              0.008888


learning_rate: 0.6

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1.24s	remaining: 20m 42s
100:	learn: 0.9920978	test: 0.5287322	best: 0.5287322 (49)	total: 1m 42s	remaining: 15m 12s
200:	learn: 0.9920978	test: 0.5498191	best: 0.5498191 (129)	total: 3m 19s	remaining: 13m 14s
300:	learn: 0.9920978	test: 0.5498191	best: 0.5498191 (129)	total: 4m 55s	remaining: 11m 25s

bestTest = 0.5498191387
bestIteration = 129

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 990ms	remaining: 16m 28s
100:	learn: 1.0000000	test: 0.4414336	best: 0.4881351 (20)	total: 1m 40s	remaining: 14m 50s
200:	learn: 1.0000000	test: 0.4414336	best: 0.4881351 (20)	total: 3m 16s	remaining: 12m 59s

bestTest = 0.4881351112
bestIteration = 20

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.66s	remaining: 27m 40s
100:	learn: 1.0000000	test: 0.5326770	best: 0.5431233 (60)	total: 1m 36s	remaining: 14m 21s
200:	learn: 1.0000000	test: 0.5105350	best: 0.5431233 (60)	total: 3m 19s	remaining: 13m 12s

bestTest = 0.5431232904
bestIteration = 60

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
131         131           0.507977          0.058262            0.997366
132         132           0.507977          0.058262            0.997366
133         133           0.507977          0.058262            0.997366
134         134           0.507977          0.058262            0.997366

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
131           0.004562              1.138426             0.101514
132           0.004562              1.138588             0.101774
133           0.004562              1.139927             0.100905
134           0.004562              1.141739             0.103182

     train-MultiClass-mean  train-MultiClass-std
131               0.016604              0.009238
132               0.016524              0.009286
133               0.016393              0.009235
134               0.016298              0.009206


learning_rate: 0.7

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1s	remaining: 16m 39s
100:	learn: 0.9920265	test: 0.5096437	best: 0.5112233 (69)	total: 1m 42s	remaining: 15m 15s
200:	learn: 0.9920978	test: 0.4985666	best: 0.5112233 (69)	total: 3m 24s	remaining: 13m 32s

bestTest = 0.5112233446
bestIteration = 69

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 1.82s	remaining: 30m 16s
100:	learn: 1.0000000	test: 0.5658235	best: 0.5658235 (88)	total: 1m 42s	remaining: 15m 11s
200:	learn: 1.0000000	test: 0.5658235	best: 0.5665334 (136)	total: 3m 16s	remaining: 13m
300:	learn: 1.0000000	test: 0.5658235	best: 0.5665334 (136)	total: 4m 51s	remaining: 11m 17s

bestTest = 0.5665334302
bestIteration = 136

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.05s	remaining: 17m 34s
100:	learn: 1.0000000	test: 0.5312945	best: 0.6031710 (77)	total: 1m 43s	remaining: 15m 21s
200:	learn: 1.0000000	test: 0.5532439	best: 0.6031710 (77)	total: 3m 29s	remaining: 13m 53s

bestTest = 0.6031710225
bestIteration = 77

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
136         136           0.556356          0.043026            0.997342
137         137           0.556356          0.043026            0.997342
138         138           0.556356          0.043026            0.997342

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
136           0.004603              1.179338             0.121607
137           0.004603              1.180751             0.122597
138           0.004603              1.182586             0.125379

     train-MultiClass-mean  train-MultiClass-std
136               0.013822              0.008903
137               0.013738              0.008864
138               0.013636              0.008838


learning_rate: 0.8

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 2.02s	remaining: 33m 38s
100:	learn: 0.9920978	test: 0.4979798	best: 0.5001482 (99)	total: 1m 44s	remaining: 15m 28s
200:	learn: 0.9920265	test: 0.5213725	best: 0.5318859 (191)	total: 3m 21s	remaining: 13m 21s
300:	learn: 0.9920978	test: 0.5108003	best: 0.5318859 (191)	total: 5m 2s	remaining: 11m 42s

bestTest = 0.5318859415
bestIteration = 191

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 1.01s	remaining: 16m 50s
100:	learn: 1.0000000	test: 0.5961907	best: 0.5977183 (44)	total: 1m 40s	remaining: 14m 56s
200:	learn: 1.0000000	test: 0.5961907	best: 0.5977183 (44)	total: 3m 20s	remaining: 13m 17s

bestTest = 0.597718254
bestIteration = 44

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.18s	remaining: 19m 36s
100:	learn: 1.0000000	test: 0.5202826	best: 0.5202826 (97)	total: 1m 45s	remaining: 15m 43s

200:	learn: 1.0000000	test: 0.5156469	best: 0.5408955 (157)	total: 3m 26s	remaining: 13m 39s
300:	learn: 1.0000000	test: 0.5408955	best: 0.5408955 (157)	total: 5m 7s	remaining: 11m 52s

bestTest = 0.5408955458
bestIteration = 157

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
191         191           0.556324          0.034818            0.997342
192         192           0.556324          0.034818            0.997342
193         193           0.556324          0.034818            0.997342

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
191           0.004603              1.211266             0.219364
192           0.004603              1.210718             0.218967
193           0.004603              1.211919             0.219745

     train-MultiClass-mean  train-MultiClass-std
191               0.010078              0.008647
192               0.010042              0.008643
193               0.010018              0.008643


learning_rate: 0.9

Training on fold [0/3]
0:	learn: 0.6084210	test: 0.3181818	best: 0.3181818 (0)	total: 1.03s	remaining: 17m 12s
100:	learn: 0.9920265	test: 0.5344988	best: 0.5344988 (91)	total: 1m 41s	remaining: 15m 3s
200:	learn: 0.9920978	test: 0.5650128	best: 0.5650128 (194)	total: 3m 15s	remaining: 12m 55s
300:	learn: 0.9920265	test: 0.5650128	best: 0.5650128 (194)	total: 4m 48s	remaining: 11m 10s
400:	learn: 0.9920265	test: 0.5833399	best: 0.5833399 (303)	total: 6m 22s	remaining: 9m 31s
500:	learn: 0.9920265	test: 0.5640217	best: 0.5833399 (303)	total: 8m	remaining: 7m 58s

bestTest = 0.5833398924
bestIteration = 303

Training on fold [1/3]
0:	learn: 0.5844597	test: 0.4078664	best: 0.4078664 (0)	total: 984ms	remaining: 16m 23s
100:	learn: 1.0000000	test: 0.5288657	best: 0.5401387 (16)	total: 1m 33s	remaining: 13m 54s
200:	learn: 1.0000000	test: 0.5551111	best: 0.5551111 (154)	total: 3m 4s	remaining: 12m 14s
300:	learn: 1.0000000	test: 0.5551111	best: 0.5551111 (154)	total: 4m 49s	remaining: 11m 12s

bestTest = 0.5551110732
bestIteration = 154

Training on fold [2/3]
0:	learn: 0.5361439	test: 0.3880136	best: 0.3880136 (0)	total: 1.24s	remaining: 20m 34s
100:	learn: 1.0000000	test: 0.5807064	best: 0.5807064 (67)	total: 1m 43s	remaining: 15m 17s
200:	learn: 1.0000000	test: 0.5604839	best: 0.5807064 (67)	total: 3m 22s	remaining: 13m 23s

bestTest = 0.5807064108
bestIteration = 67

     iterations  test-TotalF1-mean  test-TotalF1-std  train-TotalF1-mean  \
303         303           0.566312           0.01499            0.997342
308         308           0.566312           0.01499            0.997342
309         309           0.566312           0.01499            0.997342
310         310           0.566312           0.01499            0.997342
311         311           0.566312           0.01499            0.997342
312         312           0.566312           0.01499            0.997342
313         313           0.566312           0.01499            0.997342
314         314           0.566312           0.01499            0.997342
315         315           0.566312           0.01499            0.997342
316         316           0.566312           0.01499            0.997342
317         317           0.566312           0.01499            0.997342
320         320           0.566312           0.01499            0.997342
321         321           0.566312           0.01499            0.997342
335         335           0.566312           0.01499            0.997342
337         337           0.566312           0.01499            0.997342
347         347           0.566312           0.01499            0.997342
348         348           0.566312           0.01499            0.997342
349         349           0.566312           0.01499            0.997342
350         350           0.566312           0.01499            0.997342
351         351           0.566312           0.01499            0.997342
352         352           0.566312           0.01499            0.997342
353         353           0.566312           0.01499            0.997342
354         354           0.566312           0.01499            0.997342
355         355           0.566312           0.01499            0.997342
356         356           0.566312           0.01499            0.997342
357         357           0.566312           0.01499            0.997366
358         358           0.566312           0.01499            0.997366
359         359           0.566312           0.01499            0.997366
360         360           0.566312           0.01499            0.997366
361         361           0.566312           0.01499            0.997366
362         362           0.566312           0.01499            0.997366
363         363           0.566312           0.01499            0.997366
364         364           0.566312           0.01499            0.997366
365         365           0.566312           0.01499            0.997366
366         366           0.566312           0.01499            0.997366
368         368           0.566312           0.01499            0.997366
369         369           0.566312           0.01499            0.997366
370         370           0.566312           0.01499            0.997366
371         371           0.566312           0.01499            0.997366
372         372           0.566312           0.01499            0.997366
373         373           0.566312           0.01499            0.997366
374         374           0.566312           0.01499            0.997366
375         375           0.566312           0.01499            0.997366
376         376           0.566312           0.01499            0.997366
377         377           0.566312           0.01499            0.997366
378         378           0.566312           0.01499            0.997366
379         379           0.566312           0.01499            0.997366
380         380           0.566312           0.01499            0.997366
381         381           0.566312           0.01499            0.997366
382         382           0.566312           0.01499            0.997366
393         393           0.566312           0.01499            0.997366
399         399           0.566312           0.01499            0.997366
400         400           0.566312           0.01499            0.997342

     train-TotalF1-std  test-MultiClass-mean  test-MultiClass-std  \
303           0.004603              1.215176             0.129569
308           0.004603              1.216181             0.129295
309           0.004603              1.215501             0.128504
310           0.004603              1.215095             0.128047
311           0.004603              1.214737             0.127345
312           0.004603              1.214868             0.127295
313           0.004603              1.214367             0.126691
314           0.004603              1.214476             0.126905
315           0.004603              1.214533             0.126515
316           0.004603              1.214702             0.126793
317           0.004603              1.214591             0.126104
320           0.004603              1.215191             0.125935
321           0.004603              1.215088             0.126047
335           0.004603              1.216591             0.125455
337           0.004603              1.217407             0.127031
347           0.004603              1.220173             0.130529
348           0.004603              1.220576             0.130720
349           0.004603              1.220748             0.130975
350           0.004603              1.220633             0.130112
351           0.004603              1.221001             0.130719
352           0.004603              1.221089             0.130617
353           0.004603              1.220881             0.129823
354           0.004603              1.221635             0.130552
355           0.004603              1.221600             0.130491
356           0.004603              1.222355             0.131794
357           0.004562              1.222073             0.131309
358           0.004562              1.221492             0.130306
359           0.004562              1.221424             0.130188
360           0.004562              1.220962             0.129390
361           0.004562              1.221195             0.129793
362           0.004562              1.221937             0.131073
363           0.004562              1.221412             0.130167
364           0.004562              1.221401             0.130149
365           0.004562              1.221446             0.130226
366           0.004562              1.221284             0.129946
368           0.004562              1.221183             0.129773
369           0.004562              1.221190             0.129784
370           0.004562              1.221818             0.130868
371           0.004562              1.221753             0.130757
372           0.004562              1.220628             0.128815
373           0.004562              1.220843             0.129186
374           0.004562              1.221034             0.129516
375           0.004562              1.222047             0.131264
376           0.004562              1.221922             0.131047
377           0.004562              1.222010             0.131200
378           0.004562              1.221631             0.130545
379           0.004562              1.221712             0.130685
380           0.004562              1.221861             0.130943
381           0.004562              1.222073             0.131308
382           0.004562              1.222095             0.131346
393           0.004562              1.221347             0.130056
399           0.004562              1.221928             0.131058
400           0.004603              1.222150             0.131440

     train-MultiClass-mean  train-MultiClass-std
303               0.007257              0.007618
308               0.007219              0.007603
309               0.007205              0.007588
310               0.007200              0.007588
311               0.007195              0.007587
312               0.007183              0.007577
313               0.007180              0.007575
314               0.007174              0.007573
315               0.007169              0.007574
316               0.007158              0.007565
317               0.007151              0.007564
320               0.007135              0.007561
321               0.007128              0.007558
335               0.007043              0.007518
337               0.007031              0.007509
347               0.006961              0.007460
348               0.006951              0.007447
349               0.006945              0.007444
350               0.006933              0.007431
351               0.006928              0.007427
352               0.006923              0.007427
353               0.006917              0.007425
354               0.006908              0.007414
355               0.006906              0.007412
356               0.006897              0.007395
357               0.006884              0.007372
358               0.006881              0.007368
359               0.006880              0.007366
360               0.006877              0.007361
361               0.006875              0.007358
362               0.006866              0.007342
363               0.006865              0.007339
364               0.006864              0.007338
365               0.006861              0.007333
366               0.006860              0.007332
368               0.006856              0.007325
369               0.006855              0.007323
370               0.006848              0.007311
371               0.006847              0.007309
372               0.006842              0.007300
373               0.006840              0.007298
374               0.006839              0.007295
375               0.006828              0.007277
376               0.006827              0.007275
377               0.006823              0.007268
378               0.006821              0.007263
379               0.006819              0.007261
380               0.006810              0.007245
381               0.006808              0.007241
382               0.006806              0.007238
393               0.006777              0.007188
399               0.006763              0.007163
400               0.006756              0.007151

По результатам кросс-валидации лучше всех показал себя гипер-параметр `learning_rate` со значением `0.5` - F1-мера составила `0.5789`.
Зададим основные параметры модели, обучим ее и посмотрим на результаты по категориям.

In [31]:
params = {
    'iterations': 1000,
    'learning_rate': 0.5,
    'eval_metric': 'TotalF1',
    'early_stopping_rounds': 200,
    'use_best_model': True,
    'verbose': 100,
    'loss_function': 'MultiClass',
    'score_function': 'L2'
}

In [33]:
model = CatBoostClassifier(**params)
model.fit(learn_pool, eval_set=test_pool)
print()
predictions = model.predict(test_pool)
print()
print(metrics.classification_report(y_test, predictions, digits=3))

0:	learn: 0.7081878	test: 0.5910731	best: 0.5910731 (0)	total: 13.6s	remaining: 3h 46m 39s
100:	learn: 0.9948063	test: 0.6706111	best: 0.6706111 (75)	total: 2m 11s	remaining: 19m 33s
200:	learn: 0.9948063	test: 0.6827628	best: 0.6827628 (138)	total: 4m 3s	remaining: 16m 7s
300:	learn: 0.9948063	test: 0.6827628	best: 0.6827628 (138)	total: 6m 6s	remaining: 14m 12s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.6827627757
bestIteration = 138

Shrink model to first 139 iterations.


              precision    recall  f1-score   support

       A1-A2      0.600     0.375     0.462         8
          B1      0.778     0.438     0.560        16
          B2      0.700     0.921     0.795        38
       C1-C2      1.000     0.333     0.500         3

    accuracy                          0.708        65
   macro avg      0.769     0.517     0.579        65
weighted avg      0.721     0.708     0.683        65

Максимальный `F1`составил `0.68`, при этом мы видим, что, в целом, по категории `A1-A2` показатель `F1` не дотягивает даже до значения `0.5`. Это значит, что по данной категонии наша модель предсказывает хуже, чем предсказала бы брошенная монетка.

## 4. Предсказание уровня английского языка для загружаемых субтитров

Пожалуйста, укажите путь к вашему файлу с субтитрами (.srt):

In [50]:
path = r'C:\Users\yulia\OneDrive\Документы\С рабочего стола\Проекты\Workshop_2\English_scores\Test\Toy_Story_1995_2160p_UHD_BluRay_REMUX_HDR10_HEVC_Atmos_7_1_OMEGA.srt'

In [51]:
# Загрузка .srt
# Создать df с колокой Path, вставить туда путь к файлу
df_check = pd.DataFrame({'Path': [path]})
df_check['Srt'] = df_check.apply(add_column_srt, axis=1)

df_check['Srt'] = df_check.apply(replace_str, axis=1)

# Лемматизация
df_check['Srt'] = df_check['Srt'].apply(lemmatize)
df_check['Srt'] = df_check['Srt'].apply(lem_back)

docs_ch = np.array(df_check['Srt'])

df_ch = pd.DataFrame(pipe.transform(docs_ch).toarray())

pool = Pool(
    df_ch
)

# Предсказание
prediction = model.predict(pool)
print(prediction)

[['A1-A2']]

# Вывод
В рамках данного проекта:
- Получены, загружены и обработаны вводные данные.
- Проведена очистка текстового содержания, лемматизация и избавление от стоп-слов.
- Оценена релевантность слов с помощью частотно-обратной частоты термина в документе с помощью tfidf.
- Проведена кросс-валидация с оценкой средней `F1`.
- Реализовано ML решение, позволяющее предсказывать уровень английского языка по загружаемым субтитрам.
- Для проверки загружаемого субтитра добавлена возможность использовать tfidf на базе данных обучения с поощью `pipeline`.

В рамках анализа результатов различных подходов результат `F1`в размере `0.68` остается наиболее высоким, при этом по категории `A1-A2` показатель `F1` не дотягивает даже до значения `0.5`. Поэтому, для улучшения качества модели, как область для развития проекта, мы видим возможность рассмотреть другие подходы для лемматизации, оценки релевантности слов, а также более глубокого анализа при чистке субтитров.